<div class="main-content">
    <div class="container-fluid">
      
        <div class="row">
            <div class="col-lg-6 col-md-12" style="width:100%;" >
                <div class="card" >
                    <div class="card-header"  style="background-color:#3498db;">
                        <h4 class="title">Participants {{NoOfPigeons}}</h4>
                       
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead >
                                <tr>
                                    <th>Name</th>
                                    <th *ngFor="let pigeon of Pigeonsnum">Pigeons{{pigeon}}</th>
                                    <th>total time</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                             <tr  *ngFor="let participant of  participantdata; let i=index;"  >
                                <td> <input  type="text" placeholder="UserName" name="username" id="username"  class="form-control" [(ngModel)]="participant.name"></td>
                                <td *ngFor="let pigeon of Pigeonsnum">
                                    <input value="" type="text"   [(ngModel)]="participant.pigeonLand[pigeon-1].landingTime"placeholder="hh:mm:ss" name="name"  class="form-control" [(ngModel)]="pigeon.numbe" (blur)="pigeonTiming($event.target.value,pigeon,participant._id)">
                                </td>
                            </tr>
                                   
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
      </div>

      