<br/><br/><br/>
<div clas="main-content">
  <div class="container">
      
    <div class="col-lg-6 col-md-12" style="width:100%;" >
          <div class="card" >
              <div class="card-header"  data-background-color="red">
                  <h4 class="title">About Us</h4>
                  <p class="category">we means service</p>
              </div>
              <div class="card-content table-responsive">
                 <p>Our team of is made up of award-winning marketers, 
                   designers, and developers,
                    and we know what it takes to get real results online. 
                    We also keep the focus on the metrics that mean the most, 
                    like leads and revenue generated.
                     We know that hitting these goals is what moves businesses forward, 
                     and we believe that our clients' 
                   success is the best measure of our own performance.
                    Through our years of experience, 
                    we've also learned that while each channel has its own set of advantages, 
                    they all work best when strategically paired with other channels. That's why offer full-service strategies to each of our clients, and use a combination of digital channels to increase visibility, conversions, and revenue.</p>
              </div>
          </div>
      </div>
      
    <!-- users -->
    
    
      <div class="row">
          
          <div class="col-md-4">
              <br><br><br><br>    
              <div class="card card-profile">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="../assets/img/faces/marc.jpg" />
                    </a>
                  </div>
              
                  <div class="content">
                    <h6 class="category text-gray">Founder</h6>
                    <h4 class="card-title"></h4>
                    <p class="card-content">
                      Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                      I love Rick Owens’ bed design but the back is...
                    </p>
                    <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                  </div>
                </div>
              </div>
        
              <div class="col-md-4">
                  <br><br><br><br>
                  <div class="card card-profile">
                      <div class="card-avatar">
                        <a href="#pablo">
                          <img class="img" src="../assets/img/faces/marc.jpg" />
                        </a>
                      </div>
                  
                      <div class="content">
                        <h6 class="category text-gray">Founder</h6>
                        <h4 class="card-title"></h4>
                        <p class="card-content">
                          Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                          I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                      </div>
                    </div>
                  </div>
        
                  <div class="col-md-4">
                      <br><br><br><br>
                      <div class="card card-profile">
                          <div class="card-avatar">
                            <a href="#pablo">
                              <img class="img" src="../assets/img/faces/marc.jpg" />
                            </a>
                          </div>
                      
                          <div class="content">
                            <h6 class="category text-gray">Founder</h6>
                            <h4 class="card-title"></h4>
                            <p class="card-content">
                              Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                              I love Rick Owens’ bed design but the back is...
                            </p>
                            <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                          </div>
                        </div>
                      </div>
            </div>
            <br/><br/><br/>
        <!-- New Row Start -->
        
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-profile">
                        <div class="card-avatar">
                          <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                          </a>
                        </div>
                    
                        <div class="content">
                          <h6 class="category text-gray">Founder</h6>
                          <h4 class="card-title"></h4>
                          <p class="card-content">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                            I love Rick Owens’ bed design but the back is...
                          </p>
                          <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                        </div>
                      </div>
                    </div>
        
        
                <div class="col-md-3">
                    <div class="card card-profile">
                        <div class="card-avatar">
                          <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                          </a>
                        </div>
                    
                        <div class="content">
                          <h6 class="category text-gray">Founder</h6>
                          <h4 class="card-title"></h4>
                          <p class="card-content">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                            I love Rick Owens’ bed design but the back is...
                          </p>
                          <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                        </div>
                      </div>
                    </div>
        
        
        
                <div class="col-md-3">
                    <div class="card card-profile">
                        <div class="card-avatar">
                          <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                          </a>
                        </div>
                    
                        <div class="content">
                          <h6 class="category text-gray">Founder</h6>
                          <h4 class="card-title"></h4>
                          <p class="card-content">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                            I love Rick Owens’ bed design but the back is...
                          </p>
                          <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                        </div>
                      </div>
                    </div>
        
        
                <div class="col-md-3">
                    <div class="card card-profile">
                        <div class="card-avatar">
                          <a href="#pablo">
                            <img class="img" src="../assets/img/faces/marc.jpg" />
                          </a>
                        </div>
                    
                        <div class="content">
                          <h6 class="category text-gray">Founder</h6>
                          <h4 class="card-title"></h4>
                          <p class="card-content">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye
                            I love Rick Owens’ bed design but the back is...
                          </p>
                          <a href="#pablo" class="btn btn-danger btn-round">Follow</a>
                        </div>
                      </div>
                    </div>
            </div>
        
                  
              
           

  </div>

</div>