<div class                               = "row" >
  <div class                             = "col-lg-6 col-lg-offset-3 ">
      
    <div class                           = "card">
        <div class                       = "card-header" data-background-color = "red">
            
            <h4 class                    = "title">Admin Panel</h4>
        </div>
        <div class                       = "card-content">
            <form  #signinForm           = "ngForm" (ngSubmit)                 = "SigninUser(signinForm)">
                <div class               = "row">
                    <div class           = "col-md-12">
                        <div class       = "form-group form-black label-floating is-empty">
                            <label class = "control-label">Username</label>
                           
                            <input type  = "email" name                         = "email" id            = "email"  class     = "form-control" ngModel>
                        </div>
                    </div>
                </div>

                <div class               = "row">
                    <div class           = "col-md-12">
                      <div class         = "form-group form-black label-floating is-empty">
                          <label class   = "control-label">Password</label>
                          
                          <input type    = "password" name                     = "password" class     = "form-control" id = "password" ngModel>
                      </div>
                  </div>
                  </div>
               
               <!-- apni taraf se -->
                <div class               = "form-group">
                    <label class         = "col-md-5 control-label" for        = "singlebutton"></label>
                    <div class           = "col-md-5">
                        <button id       = "singlebutton"  name                = "singlebutton" class = "btn btn-danger center-block">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
            
<br>
            <!-- <a href                 = "/dashboard"> <p class              = "text-left">Need Help?</p></a> -->
            <div class                   = "clearfix"></div>
            <!-- apni taraf se khatam  -->
        </div>
      
    </div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
