<div class="row" >
  <div class="col-lg-6 col-lg-offset-3 ">
      
    <div class="card">
        <div class="card-header" data-background-color="red">
            
            <h4 class="title">Admin Panel</h4> 
            <!-- <p class="category">Complete your profile</p> -->
        </div>
        <div class="card-content">
            <form>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-black label-floating is-empty">
                            <label class="control-label">Username</label>
                            <input type="text" class="form-control" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group form-black label-floating is-empty">
                          <label class="control-label">Password</label>
                          <input type="password" class="form-control" >
                      </div>
                  </div>
                  </div>
                <!-- <button type="submit" class="btn btn-danger pull-right center-block">Submit</button>
                <br>
               <a href="gallery"> <p class="text-left">Need Help?</p></a>
                <div class="clearfix"></div> -->
               <!-- apni taraf se -->
                <div class="form-group">
                    <label class="col-md-5 control-label" for="singlebutton"></label>
                    <div class="col-md-5">
                        <button id="singlebutton"  [routerLink]="['/panel']" name="singlebutton" class="btn btn-danger center-block">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
<br>
            <!-- <a href="/dashboard"> <p class="text-left">Need Help?</p></a> -->
            <div class="clearfix"></div>
            <!-- apni taraf se khatam  -->
        </div>
    </div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>